---
---

@import "{{ site.theme }}";
@import "https://github.com/Coopyrightdmin/coopyrightcode-pragmaticUI/blob/master/src/main/webapp/scss/main.scss";

// -- 
.navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    margin: .4em 2em;
    background: url(https://github.com/Coopyrightdmin/coopyrightcode-pragmaticUI/blob/master/src/main/webapp/content/images/alien6-lg.png);
    background-size: cover;
    background-color: transparent;
    width: 5em;
    height: 2.25em;
}
