---
---

@import "{{ site.theme }}";

// -- 
.navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    margin: .4em 2em;
    background: url(../alien6.png);
    background-size: cover;
    background-color: transparent;
    width: 5em;
    height: 2.25em;
}
